<!doctype html>
<html>
<head>
<title>LNDMON | Metrics</title>
{% include "nodes/analytics.html" %}
{% load static %}
<script src="{% static "nodes/jsUtils.js" %}"></script>
<link rel="stylesheet" href="{% static "nodes/lndmon.css" %}"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
</head>


<body>
{% include "nodes/navbar.html" %}

<div class="card-columns">
{% for indivMetric in figures %}
  <div class="card bg-light lg-6">
    <img class="card-img-top" src="{{ indivMetric.image_url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ indivMetric.title }}</h5>
      <p class="card-text">{{ indivMetric.description }}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
{% endfor %}
<div class="card bg-light lg-6">
  <canvas id="myChart"></canvas>
  <div class="card-body">
    <h5 class="card-title"> GraphTest</h5>
    <p class="card-text"> Lorem ipsum </p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    <div >

      <script>
      //Get passed network data
      // var data_set = {{ test_data_set | safe }} ; //Has to be json encoded
      var data_set =  [1,2,3,4,5,6,7,8,9,0,0,0,0,-10,-9];
      var ctx = document.getElementById('myChart').getContext('2d');
      var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'line',
          // The data for our dataset
          data: {
              labels: data_set,
              datasets: [{
                  label: "GraphTest",
                  backgroundColor: 'rgb(255, 99, 132)',
                  borderColor: 'rgb(255, 99, 132)',
                  data: data_set,
              }]
          },

          // Configuration options go here
          options: {}
      });
      </script>
    </div>
  </div>
</div> <!-- Card test -->




</div> <!-- Card columns -->






<!-- Bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
{% include "nodes/footer.html" %}
</body>
</html>
