<meta name="description" content="View Lightning Network channels and nodes in detail and view historical data across a growing dataset">
<nav class="navbar navbar-expand-sm bg-light" style="min-height: 60px;">
  <a class="navbar-brand" href="/index">Lightning Monitor</a>
  <ul class="navbar-nav">
    {% if network %}
    <li class="nav-item">
      <a class="nav-link" href="/{{network}}/visualiser">Visualise</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/{{network}}/channels">Channels</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/{{network}}/nodes">Nodes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/{{network}}/metrics">Metrics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/active">Active</a>
    </li>
  </ul>
    <form class=" w-100" action="/{{network}}/search" method="GET" >
    <input class= "form-control form-control-dark w-100" type="text" name="search_term" placeholder="Double Click on channels/nodes for more" aria-label="Search" >
  {% else %}
    <li class="nav-item">
      <a class="nav-link" href="mainnet/visualiser">Visualise</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="mainnet/channels">Channels</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="mainnet/nodes">Nodes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="mainnet/metrics">Metrics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/active">Active</a>
    </li>
  </ul>

    <form class=" w-100" action="mainnet/search" method="GET" >
    <input class= "form-control form-control-dark w-100" type="text" name="search_term" placeholder="Double Click on channels/nodes for more" aria-label="Search" >
    {% endif %}
    <!--
    <li class="nav-item">
      <a class="nav-link" href="/blockchain">Blockchain</a>
    </li> #}
  -->


</form>
{% if network %} <div class="nav-item" style="display: flex;
align-items: center;
padding-left: .5rem;" > <a href="{% if network == "testnet" %}/mainnet/{% else %}/testnet/{%endif%}metrics" >
 <span class="badge badge-secondary">{{ network }}</span></a>
</div> {% endif %}
</nav>
