<!doctype html>
<html>
<head>
<title>LNDMON | Nodes</title>
{% include "nodes/analytics.html" %}
{% load static %}
<script src="{% static "nodes/jsUtils.js" %}"></script>
<link rel="stylesheet" href="{% static "nodes/lndmon.css" %}"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>


<body>
{% include "nodes/navbar.html" %}

    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Pubkey</th>
          <th scope="col">Alias</th>
          <th scope="col">Channels</th>
          <th scope="col">Capacity</th>
          <th scope="col">Color</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        {% for currentNode in unconnectedNodes %}
        <tr>
          <th scope="row" class="td-small"> <a href="/nodes/{{ currentNode.pub_key }}">{{ currentNode.pub_key }} </a></th>
          <td class="td-normal">{{ currentNode.alias }}</td>
          <td class="td-normal">{{ currentNode.channels }}</td>
          <td class="td-normal">{{ currentNode.capacity }}</td>
          <td class="td-small">{{ currentNode.color }}</td>
          <td class="td-small">{{ currentNode.addresses }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  <nav aria-label="Nodes pagination">
    <ul class="pagination justify-content-center">
        {% if unconnectedNodes.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">&laquo; First </a></li>
          <li class="page-item"><a class="page-link" href="?page={{ unconnectedNodes.previous_page_number }}">Previous</a></li>
        {% endif %}
          <li class="page-item active">
            <span class="page-link">
               Page {{ unconnectedNodes.number }}
             </span>
            </li>
        {% if unconnectedNodes.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ unconnectedNodes.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ unconnectedNodes.paginator.num_pages }}">Last &raquo;</a></li>
        {% endif %}
      </ul>
  </nav>


<!-- Bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
{% include "nodes/footer.html" %}
</body>
</html>
